:host {
  display: flex;
  flex-direction: column;

  .header, app-board {
    width: 100%;
  }

  &>.header {
    background: red;
    display: grid;
    grid-area: header;
    grid-row: 1;
    grid-template-columns: 50px auto 50px;
    text-align: center;

    .mines, .start, .timer {
      padding: 20px;
    }

    &>.mines {
      grid-column: 1;
      text-align: left;
    }
    &>.start {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      grid-column: 2;
    }
    &>.timer {
      grid-column: 3;
      text-align: right;
    }
  }
}
