<div class="options">
  <a class="link" (click)="showMenu('Game')">Game</a>
  <a class="link" (click)="showMenu('Controls')">Controls</a>
</div>
<div class="header">
  <div class="mines" [innerHTML]="this._state.mineCounter"></div>
  <div
    class="start"
    (click)="this.newGame(this.options)"
    [innerHTML]="showFace()"
  >
  </div>
  <div class="timer" [innerHTML]="this.game.time"></div>
</div>
<app-board
  [board]="this.game.board"
  [class.disabled]="this._state.isEnded()"
  oncontextmenu="return false;"
>
</app-board>
<app-lightbox
  [(show)]="showLightbox"
  [state]="lightboxState"
  (startNewGame)="newGame($event)"
></app-lightbox>
