:host {
  --board-width: 903px;
  align-self: center;
  display: flex;
  flex-direction: column;
  flex: 0;
  width: var(--board-width);

  .header, app-board, options {
    width: var(--board-width);
  }

  .link {
    cursor: pointer;
    color: white;
    padding: 0 0 0 5px;

    &:first-child {
      padding-left: 0;
    }

    &:not(:last-child):after {
      content: '|'
    }
  }

  &>.header {
    background: lightgrey;
    text-align: center;
    display: flex;
    justify-content: space-between;

    .mines, .start, .timer {
      padding: 20px;
      max-width: 60px;
    }

    &>.mines {
      grid-column: 1;
      text-align: left;
    }
    &>.start {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      grid-column: 2;
    }
    &>.timer {
      grid-column: 3;
      text-align: right;
    }
  }
}
