<table>
  <tbody>
    <tr
      *ngFor="let row of board.board; index as rowNum"
    >
      <td
        *ngFor="let piece of row; index as colNum"
        [class.blank]="!piece.revealed && !piece.flagged && !piece.marked"
        [style.background-color]="piece.hitMine ? 'red': ''"
              >
        <app-piece
          [piece]="piece"
          (end)="setEnd($event)"
          [ended]="ended"
          (showAround)="showAround($event)"
        >
        </app-piece>
      </td>
    </tr>
  </tbody>
</table>
