:host {
  table {
    display: table;
    background: silver;

    td, app-piece {
      border-color: white;
      height: 25px;
      min-height: 25px;
      min-width: 25px;
      width: 25px;
    }

    .blank {
      border-style: inset;
    }
    .open {
      border-style: outset;
      border-bottom: white 1px solid;
    }
  }
}
